services:
  sonarr-tag-searcher:
    build: .
    networks:
      - media
    container_name: sonarr-tag-searcher
    restart: "no"
    command: ["/app/run_sonarr.sh"]
    environment:
      SONARR_URL: "http://sonarr:8989"
      SONARR_API_KEY: "0fbf914c595e49e99acef69f311e62ac"
      SONARR_TAG_SEARCH: "search"
      SONARR_TAG_DONE: "done"
      SONARR_COOLDOWN_DAYS: "21"
      SONARR_SEARCH_MAX_SERIES_PER_RUN: "2"
      SONARR_SEARCH_STATE_PATH: "/data/state/sonarr_search_state.json"
      SONARR_DONE_RECHECK_HOURS: "24"
      SONARR_DONE_RECHECK_MAX_SERIES_PER_RUN: "2"
      SONARR_DONE_SEARCH_MAX_SERIES_PER_RUN: "2"
      SONARR_DONE_SEARCH_MAX_EPISODES_PER_RUN: "200"
      SONARR_MISSING_DONE_STATE_PATH: "/data/state/sonarr_missing_done_state.json"
      HTTP_TIMEOUT: "30"
      RUN_SLEEP_SECONDS: "1800"
    volumes:
      - ./data/sonarr:/data

  radarr-tag-searcher:
    build: .
    networks:
      - media
    container_name: radarr-tag-searcher
    restart: "no"
    command: ["/app/run_radarr.sh"]
    environment:
      RADARR_URL: "http://radarr:7878"
      RADARR_API_KEY: "8dd21092c05343828f397fd542646472"
      RADARR_TAG_SEARCH: "search"
      RADARR_TAG_DONE: "done"
      RADARR_COOLDOWN_DAYS: "21"
      RADARR_SEARCH_MAX_MOVIES_PER_RUN: "10"
      RADARR_SEARCH_STATE_PATH: "/data/state/radarr_search_state.json"
      RADARR_DONE_RECHECK_HOURS: "24"
      RADARR_DONE_RECHECK_MAX_MOVIES_PER_RUN: "10"
      RADARR_DONE_SEARCH_MAX_MOVIES_PER_RUN: "10"
      RADARR_MISSING_DONE_STATE_PATH: "/data/state/radarr_missing_done_state.json"
      HTTP_TIMEOUT: "30"
      RUN_SLEEP_SECONDS: "1800"
    volumes:
      - ./data/radarr:/data

  lidarr-tag-searcher:
    build: .
    networks:
      - media
    container_name: lidarr-tag-searcher
    restart: "no"
    command: ["/app/run_lidarr.sh"]
    environment:
      LIDARR_URL: "http://lidarr:8686"
      LIDARR_API_KEY: "47b4741020a74cebaca5b02492480725"
      LIDARR_TAG_SEARCH: "search"
      LIDARR_TAG_DONE: "done"
      LIDARR_TAG_FROM: "arr-extended"
      LIDARR_TAG_TO: "search"
      LIDARR_TAGGER_MAX_ARTISTS_PER_RUN: "50"
      LIDARR_COOLDOWN_DAYS: "21"
      LIDARR_SEARCH_MAX_ARTISTS_PER_RUN: "5"
      LIDARR_SEARCH_STATE_PATH: "/data/state/lidarr_search_state.json"
      LIDARR_DONE_RECHECK_HOURS: "24"
      LIDARR_DONE_RECHECK_MAX_ARTISTS_PER_RUN: "5"
      LIDARR_DONE_SEARCH_MAX_ARTISTS_PER_RUN: "5"
      LIDARR_MISSING_DONE_STATE_PATH: "/data/state/lidarr_missing_done_state.json"
      LIDARR_SEARCH_TO_DONE_MAX_ARTISTS_PER_RUN: "200"
      LIDARR_WANTED_PAGE_SIZE: "100"
      LIDARR_WANTED_MAX_PAGES: "10"
      LIDARR_WANTED_RETRIES: "2"
      LIDARR_WANTED_RETRY_SLEEP_SECONDS: "3"
      HTTP_TIMEOUT: "30"
      RUN_SLEEP_SECONDS: "1800"
    volumes:
      - ./data/lidarr:/data

networks:
  media:
    external: true
